.sidebar-widget {
    padding:10px;
    margin-bottom:30px;
    border:1px solid #f1f1f1;
    background:white;

    h2.widgettitle {
        font-size:20px;
        text-transform: uppercase;
        margin-bottom:20px;
    }

    ul {
        padding-left:20px;
        list-style-type:circle;

        li {
            padding-left:0;
            margin-bottom:5px;

            a {
                color:#222;
            }
        }
    }
}




a.tag-cloud-link {
    font-size: 18px !important;
    line-height: 1;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 6px;
    display: inline-block;
}


table#wp-calendar {
    width:100%;

    a {
        color:var(--primary-color);
    }
}